<div class="content" *ngIf="!!thank">
  <h3>Thank you</h3>

  <div class="star">
    <img src="../../../../assets/star-big-image.png" alt="Star">
  </div>

  <div class="text">
    <p>Hey, hey, hey. Thank you for your help!!!</p>
  </div>

  <div class="info">
    <div class="img" (click)="openModal()">
      <img [src]="thank.fromUser.avatarId">

      <span>{{thank.fromUser.firstName[0]}}{{thank.fromUser.lastName[0]}}</span>
    </div>

    <span>{{thank.fromUser.firstName}} {{thank.fromUser.lastName}}</span>
  </div>
</div>
<div class="no-content" *ngIf="noContent">
  <img src="../../../../assets/no-content3.jpg">
  <h2>Nobody thanked you...</h2>
</div>
