@import '../../styles/common.scss';

.content {
  margin: 1em 1.5em;
  height: 100%;
  color: #eee;
  text-align: center;
  position: relative;

  h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 2em;
  }

  .text {
    position: absolute;
    margin: 5% auto;
    bottom: 18%;
    width: 100%;
    text-align: center;

    p {
      font-size: 0.8vw;
    }
  }

  .img {
    display: inline-block;
    cursor: pointer;
    height: 25px;
    width: 25px;
    max-width: 30px;
    max-height: 30px;
    background-color: #626770;
    border-radius: 50%;
    border: 2px solid #aaa;
    margin-right: 10px;
    color: $base-color;
    line-height: 25px;
    font-size: 0.7vw;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
    }
  }

  .star {
    width: 100%;
    margin: 0 auto;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 40%;
    }
  }

  .info {
    position: absolute;
    width: 100%;
    bottom: 13%;
    display: flex;
    align-items: center;
    justify-content: center;

    >span {
      color: $base-color;
      font-size: 12px;
    }
  }
}
