<div class="content">
  <div class="head">
    <h3>Challenges</h3>

    <button mat-button color="basic">Show more</button>
  </div>
  <div class="info">
    <div class="challenge">
      <h4 class="status">Available</h4>

      <div class="body">
        <div class="bike">
          <img src="../../../../assets/rbike.jpg" alt="">
        </div>

        <div class="cuantity">
          <span>57k bike</span>
        </div>

        <div class="progress">
          <span>93% of 57k complete</span>

          <span>05:20:00 Remaining</span>
        </div>
      </div>
    </div>

    <div class="challenge">
      <h4 class="status">Ended</h4>

      <div class="body">
        <div class="mountain"><img src="../../../../assets/mountains.jpg" alt="">
          <div>5k Swim</div>
        </div>

        <div class="mountain"><img src="../../../../assets/mountains.jpg" alt="">
          <div>5k Swim</div>
        </div>

        <div class="mountain"><img src="../../../../assets/mountains.jpg" alt="">
          <div>5k Swim</div>
        </div>

        <div class="mountain"><img src="../../../../assets/mountains.jpg" alt="">
          <div>5k Swim</div>
        </div>

        <div class="mountain"><img src="../../../../assets/mountains.jpg" alt="">
          <div>5k Swim</div>
        </div>

        <div class="mountain"><img src="../../../../assets/mountains.jpg" alt="">
          <div>5k Swim</div>
        </div>
      </div>
    </div>

    <div class="challenge">
      <h4 class="status">In progress</h4>

      <p>The pride of our gymnasium</p>

      <div class="body">
        <div class="president"><img src="../../../../assets/1.jpg" alt=""></div>

        <div class="president"><img src="../../../../assets/2.jpg" alt=""></div>

        <div class="president"><img src="../../../../assets/3.jpg" alt=""></div>

        <div class="president"><img src="../../../../assets/4.jpg" alt=""></div>

        <div class="president"><img src="../../../../assets/5.jpg" alt=""></div>

        <div class="president"><img src="../../../../assets/6.jpg" alt=""></div>
      </div>
    </div>
  </div>
</div>
