.content {
  color: #fff;
  font-weight: 300;
  width: 100%;
  margin: 1.5% 1%;
  p{
    font-size: 1vw;
  }
  p:nth-child(1) {
    font-size: 2.2vw;
    font-style: normal;
    margin-bottom: 1vw;
    span {
      font-weight: 500;
    }
  }
}
