.content{
    color: #fff;
    font-weight: 300;
    width: 100%;
    margin: 15px;
    p:nth-child(1){
        font-size: 28px;
        font-style: normal;
        span{
            font-weight: 700;
        }
    }
}