<div class="wrapper">
  <div class="content">
    <div class="form">
      <h2>Password reseting</h2>
      <mat-error *ngIf="errorOccured && !isMessageSent">Error occured. There were no such email in base.
      </mat-error>

      <mat-form-field>
        <mat-label>E-mail</mat-label>

        <input matInput [(ngModel)]="email" class="text" type="email" id="mail">
      </mat-form-field>

      <button mat-button color="basic" [disabled]="!isValid" (click)="sendRequest()">Send request</button>
    </div>

    <div class="form" *ngIf="!errorOccured && isMessageSent">
      <h3>Please print key sent to your mail and a new password</h3>

      <mat-error *ngIf="errorOccured">Error occured. Check whether your new password is valid and whether key is valid.
      </mat-error>

      <form [formGroup]="resetPasswordForm">
        <mat-form-field>
          <mat-label>Key</mat-label>

          <input matInput formControlName="hash" class="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>

          <input matInput formControlName="newPassword" class="text">
        </mat-form-field>
      </form>

      <button mat-button color="basic" [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">Reset
        password</button>
    </div>
  </div>
</div>
