<div class="wrapper">
  <div class="content">
    <span class="material-icons" (click)="close()">
      close
    </span>

    <div class="user-info">
      <div class="user-data">
        <div class="img">
          <img [src]="user.icon" *ngIf="user.icon; else letters">

          <ng-template #letters><span class="letters">{{user.name[0]}}{{user.surname[0]}}</span></ng-template>
        </div>

        <div class="user-name">
          <p>{{user.name}} {{user.surname}}</p>

          <p><span>EXP:</span> {{user.total}} XP</p>
        </div>
      </div>
      <div class="badges">
        <div class="badge" *ngFor="let badge of badgesQuantity">

          <div class="quantity">{{badge[1]}}</div>

          <div class="icon"><img [src]="badge[0].icon" alt=""></div>

          <div class="name">{{badge[0].name}}</div>
        </div>
      </div>
    </div>
  </div>

  <button mat-button color="basic" (click)="openModal()">Say thanks</button>
</div>
