.content {
  margin: 1em 1.5em 1em 3em;
  height: 100%;
  color: #eee;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .head {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 7em;

    button {
      position: absolute;
      line-height: 2em;
      right: 0;
      margin-top: 0.5em;
      color: #eee;
      background-color: #73bf0b;
      font-size: 0.7vw;
      border-radius: 0;
    }
  }

  .img {
    width: 15em;
    height: 15em;
    line-height: 15em;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #45494f;
    border: 2px solid #73bf0b;
    overflow: hidden;

    span {
      color: #eee;
      font-size: 7em;
    }

    img {
      width: 100%;
    }
  }

  .user-name {
    margin-top: 0.5em;
    font-size: 2em;
    font-weight: 400;

    p:nth-child(2) {
      font-size: 0.65em;
    }
  }
}
