<div class="content">
  <div class="head">
    <h3>Exoft achievements</h3>

    <span *ngIf="!!events">{{events.length}}</span>
  </div>
  <div class="info" *ngIf="!!events">
    <div class="item" *ngFor="let item of events">
      <div class="img" (click)="openModal(item.user)">
        <img [src]="item.user.avatarId">

        <span>{{item.user.firstName[0]}}{{item.user.lastName[0]}}</span>
      </div>

      <div class="description">
        <span>{{item.user.firstName}} {{item.user.lastName}}</span>

        <span>{{item.date|passedTimePipe}}</span>

        <p>{{item.description}}</p>

        <span class="record">Records</span>
      </div>
    </div>
  </div>
</div>
