<div class="content">
  <div class="head">
    <h3>Exoft achievements</h3>

    <span>80</span>
  </div>
  <div class="info">
    <div class="item" *ngFor="let item of achList">
      <div class="img" (click)="openModal(item)">
        <img [src]="item.icon">

        <span>{{item.name[0]}}{{item.surname[0]}}</span>
      </div>

      <div class="description">
        <span>{{item.name}} {{item.surname}}</span>

        <span>{{item.time|passedTimePipe}}</span>

        <p>Got achievement {{item.name}}</p>

        <span class="record">Records</span>
      </div>
    </div>
  </div>
</div>
