.content {
  margin: 10px 16px;
  color: #eee;

  .main {
    display: flex;
  }

  .main>div {
    display: block;

  }

  h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 0;
  }

  .topchart {
    margin-top: 0;
    font-size: 12px;
    width: 60%;

    >p {
      border-bottom: 1px solid #73bf0b;
      color: #73bf0b;
      width: 100%;
      position: relative;

      >span {
        font-size: 12px;

        &:nth-child(2) {
          position: absolute;
          right: 0;
        }
      }
    }

    .toplist {
      width: 100%;

      .item {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;
        height: 40px;

        >div {
          display: inline-block;
        }

        .img {
          text-align: center;
          display: inline-block;
          cursor: pointer;
          height: 25px;
          width: 25px;
          max-width: 30px;
          max-height: 30px;
          background-color: #626770;
          border-radius: 50%;
          border: 2px solid #aaa;
          margin-right: 10px;
          color: #73bf0b;
          line-height: 25px;
          overflow: hidden;

          img {
            width: 100%;
          }

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
          }
        }

        .description {
          font-weight: 400;
          height: 40px;
          color: #eee;
          line-height: 16px;
          margin-top: 10px;

          >p {
            height: 10px;
            margin-bottom: 5px;

            &:nth-child(2) {
              line-height: 10px;
            }
          }
        }

        .exp {
          position: absolute;
          right: 18px;
          margin-top: 10px;

        }
      }
    }
  }

  .top-diagram {
    width: 100%;
    margin: 15px 15px 0 15px;
    padding-top: 30px;
    line-height: 50px;

    .bars {
      height: 12px;
      position: relative;
      margin-bottom: 28px;
    }
  }
}
