<div class="content">
  <h3>Top Chart</h3>

  <div class="main">
    <div class="topchart">
      <p>
        <span>Name</span>

        <span>Total XP</span>
      </p>

      <div class="toplist">
        <div class="item" *ngFor="let item of users">
          <div class="img" (click)="openModal(item)">
            <img [src]="item.icon" alt="">

            <span>{{item.name[0]}}{{item.surname[0]}}</span>
          </div>
          <div class="description">
            <p>{{item.name}}</p>

            <p>{{item.surname}}</p>
          </div>
          <div class="exp">
            <p>{{item.total}}XP</p>
          </div>
        </div>
      </div>
    </div>
    <div class="top-diagram">
      <div class="bars" *ngFor="let item of bars" [ngStyle]="{'width': item.Value+'%', 'background-color':item.Color}">
      </div>
    </div>
  </div>
</div>
