.head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1em 1.5em;

  h3 {
    text-transform: uppercase;
    color: #eee;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 2em;
  }

  button {
    text-align: center;
    line-height: 2em;
    margin-top: 0.5em;
    color: #eee;
    background-color: #73bf0b;
    font-size: 0.7vw;
    border-radius: 0;
  }
}

.content {

  .info {
    margin: 0 1vw;

    .item {
      margin-bottom: 1vw;
      min-width: 10%;
      position: relative;

      img {
        width: 2.5vw;
        height: 2.5vw;
        border-radius: 50%;
        border: 1px solid #73bf0b;
      }

      div {
        display: inline-block;
        font-weight: 400;
        height: 1.2vw;
        position: absolute;

        &.description {
          color: #eee;

          top: 10px;
          line-height: 1vw;
          font-size: 1vw;
          margin-left: 5px;

          p {
            height: 0.8vw;
            margin-bottom: 0.5vw;

            &:nth-child(2) {
              line-height: 10px;
              font-size: 12px;
            }
          }
        }

        &.exp {
          right: -5px;
          padding-right: 1vw;
          font-size: 12px;
          font-weight: 500;
          color: #f7ba21;
          padding-top: 15px;

          >p {
            height: 100%;
          }

          >p::before {
            content: '';
            display: block;
            position: absolute;
            left: -15px;
            top: 19px;
            width: 10px;
            height: 10px;
            background-color: #f7ba21;
            border-radius: 50%;
          }
        }
      }
    }


  }

}
