<div class="wrapper">
  <div class="content">
    <div class="form">
      <mat-error *ngIf="!!errorMessage">{{errorMessage}}</mat-error>
      <form [formGroup]="initialFormData">
        <mat-form-field>
          <mat-label>User name</mat-label>

          <input matInput formControlName="userName" class="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>

          <input matInput formControlName="password" class="text">
        </mat-form-field>
      </form>

      <a href="#">Forgot password ?</a>

      <button mat-button color="basic" [disabled]="initialFormData.invalid || loading" (click)="signIn()">Sign
        in</button>
    </div>
    <div class="logo">
      <img src="../../../assets/exoft-logo-image.png">
    </div>
  </div>

</div>
