<div class="wrapper">
  <div class="head">
    <span class="material-icons" (click)="close()">
      arrow_back
    </span>
    <span>Password change</span>

  </div>
  <div class="content">
    <form [formGroup]="passForm">
      <mat-form-field>
        <mat-label>Old password</mat-label>

        <input matInput formControlName="oldPassword" class="text" type="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>New password</mat-label>

        <input matInput formControlName="newPassword" class="text" type="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm password</mat-label>

        <input matInput formControlName="confpassword" class="text" type="password">
      </mat-form-field>
    </form>
  </div>

  <button mat-button color="basic" [disabled]="passForm.invalid" (click)="changePassword()">Save changes</button>
</div>
