@import '../../../../shared/styles/common.scss';

.mat-toolbar.mat-primary {
  background: #424750;
  text-align: center;
  color: #eee;
  height: 50px;
  font-size: 16px;

  .mat-icon {
    height: 27px;
  }

  .navigation {
    margin: 0 auto;

    a {
      color: #eee;
      text-decoration: none;
      padding: 11px;
      font-weight: 300;
      font-size: 16px;
    }

    .active {
      color: $base-color;
      border-top: $base-color 5px solid;
    }
  }

  .name {
    font-weight: 300;
  }

  .img {
    height: 35px;
    width: 35px;
    background-color: #525760;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin-right: 10px;
    color: $base-color;
    line-height: 35px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

}

::ng-deep .customize {
  background: #424750;

  span {
    color: #eee;
  }

  button:nth-child(2),
  button:nth-child(3) {
    border-top: 1px solid #323740;
  }
}
