.dashboard {

  height: 100%;

  .mat-grid-list {
    margin: 1%;
  }
  .mat-grid-tile {
    background-color: rgb(82, 87, 96);
    border-radius: 3px;
    &:nth-child(1){
        background-color: rgb(115, 191, 11);
    }
  }

  app-greeting,
  app-personal-achievements,
  app-thank-you,
  app-top-chart {
    width: 100%;
    height: 100%;
  }

}
