<div class="dashboard">
  <mat-grid-list cols="5" gutterSize="10px" rowHeight="90px">

    <mat-grid-tile class="tile" [colspan]="4" [rowspan]="1">
      <app-greeting [user]="user"></app-greeting>
    </mat-grid-tile>

    <mat-grid-tile class="tile" [colspan]="1" [rowspan]="7">

    </mat-grid-tile>

    <mat-grid-tile class="tile" [colspan]="1" [rowspan]="3">
      <app-personal-achievments></app-personal-achievments>
    </mat-grid-tile>

    <mat-grid-tile class="tile" [colspan]="1" [rowspan]="3">
      <app-thank-you></app-thank-you>
    </mat-grid-tile>

    <mat-grid-tile class="tile" [colspan]="2" [rowspan]="3">
      <app-top-chart></app-top-chart>
    </mat-grid-tile>

    <mat-grid-tile class="tile" [colspan]="1" [rowspan]="3">
    </mat-grid-tile>

    <mat-grid-tile class="tile" [colspan]="3" [rowspan]="3">
    </mat-grid-tile>
  </mat-grid-list>
</div>
